.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  align-self: start;
}

.khan__buy-link:hover {
  color: #2f80ed;
  opacity: 55%;
  -webkit-transition: .2s linear .2s;
  -o-transition: .2s linear .2s;
  transition: .2s linear .2s;
}